.main {
   display: flex;
   height: 100svh;
   margin: 0 12vw;
   gap: 8.4vw;
   align-items: center;
   justify-content: center;
}

@media screen and (max-width: 1440px) {
   .main {
      gap: 6.6vw;
      margin: 0 9.9vw;
   }
}