.separator {
   border: none;
   height: 1px;
   padding: 0;
   background: linear-gradient(
      90deg,
      transparent 0%,
      #9177f2 50%,
      transparent 100%
   );
   margin: 1.2rem 0;
}

.separator--bottom {
   margin: 0.3rem 3rem 0.3rem;
}

@media screen and (max-width: 480px) {
   .separator {
      font-size: 1.2rem;
      margin: 0.81rem 0;
   }
}
