.main-title {
   font-size: 3.6rem;
   font-weight: 700;
   /* width: 100%; */
   display: flex;
   justify-content: center;
   padding: 1.2rem 0;
   background: linear-gradient(90deg, #7784f2 41%, #77abf2 62%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
