.todo-card__loading {
   font-size: 1.5rem;
   line-height: 1.5;
   padding: 0.25rem 2.1rem;
   margin: 0 3rem;
   animation: loading 1.11s infinite;
   user-select: none;
}

.todo-card__loading--content {
   margin: 1.2rem 0;
   visibility: hidden;
}

@keyframes loading {
   0% {
      background-color: var(--gray-bg);
   }

   50% {
      background-color: var(--white-bg-solid);
   }

   100% {
      background-color: var(--gray-bg);
   }
}
