.check {
   --check-size: 1.8rem;
   min-height: var(--check-size);
   min-width: var(--check-size);
   border-radius: 100%;
   display: inherit;
   justify-content: center;
   align-items: center;
   border: 2px solid var(--green);
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   aspect-ratio: 1/1;
}

.check--checked {
   background-color: var(--green);
   animation: checkedAnimation 0.3s ease-in-out;
}

.check--unchecked {
   background-color: transparent;
}

.check__image {
   --check-img-size: 0.81rem;
   height: var(--check-img-size);
   width: var(--check-img-size);
   user-select: none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
}

.check__image--checked {
   display: flex;
   visibility: visible;
}

.check__image--unchecked {
   display: none;
   visibility: hidden;
}

@keyframes checkedAnimation {
   0% {
      transform: scale(1);
   }
   25% {
      transform: scale(0.5);
   }
   50% {
      transform: scale(1.2);
   }
   100% {
      transform: scale(1);
   }
}
