.check {
   --check-size: 1.56rem;
   height: var(--check-size);
   width: var(--check-size);
   border-radius: 100%;
   display: inherit;
   justify-content: center;
   align-items: center;
   border: 2px solid var(--green);
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.check--checked {
   background-color: var(--green);
}

.check--unchecked {
   background-color: transparent;
}

.check__image {
   --check-img-size: 0.81rem;
   height: var(--check-img-size);
   width: var(--check-img-size);
   user-select: none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
}

.check__image--checked {
   display: flex;
   visibility: visible;
}

.check__image--unchecked {
   display: none;
   visibility: hidden;
}
