.todo-card {
   display: flex;
   align-items: center;
   /* justify-content: space-between; */
   gap: 1.17rem;
   padding: 0.25rem 2.1rem;
   margin: 0 3rem;
}

.todo-card--checked {
   background-color: var(--gray-bg);
}

.todo-card--unchecked {
   background-color: var(--white-bg);
}

.todo-card__name {
   font-size: 1.5rem;
   font-weight: 300;
}

.todo-card__name--unchecked {
   text-decoration: none;
}

.todo-card__name--checked {
   text-decoration: line-through;
}

.todo-card__icon img {
   --icon-size: 1.41rem;
   height: var(--icon-size);
   /* width: var(--icon-size); */
   /* border-radius: 100%; */
   /* display: inherit; */
   /* justify-content: center; */
   /* align-items: center; */
   /* border: 2px solid var(--green); */
   cursor: pointer;
}

.todo-card__content {
   display: flex;
   align-items: center;
   gap: 1.17rem;
   justify-content: space-between;
   width: 90%;
   max-width: 90%;
}

.todo-card__input {
   border: none;
   outline: none;
   background-color: transparent;
   font-size: 1.5rem;
   font-family: inherit;
   font-weight: 300;
   color: var(--purple);
   /* display: block; */
   margin: 1rem 0;
   width: 100%;
   /* height: fit-content; */
   /* overflow: visible; Allows scrolling if text exceeds visible area */
   resize: none;
   box-sizing: border-box;
   overflow: hidden;
   /* height: min-content; */
   /* min-height: 1rem; */
   field-sizing: content;
   -webkit-field-sizing: content;
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   unicode-bidi: isolate;
   padding: 0;
   word-wrap: break-word;
   overflow-wrap: break-word;
   /* white-space: wrap; */
}

.todo-card__icons {
   display: flex;
   gap: 1.17rem;
}
