.todo-card {
   display: flex;
   align-items: center;
   gap: 1.17rem;
   padding: 0.25rem 2.1rem;
   width: 100%;
   background-color: var(--white-background);
}

.todo-card__name {
   font-size: 1.5rem;
   font-weight: 200;
}

.todo-card__name--unchecked {
   text-decoration: none;
}

.todo-card__name--checked {
   text-decoration: line-through;
}

.todo-card__icon img {
   --icon-size: 1.41rem;
   height: var(--icon-size);
   /* width: var(--icon-size); */
   /* border-radius: 100%; */
   /* display: inherit; */
   /* justify-content: center; */
   /* align-items: center; */
   /* border: 2px solid var(--green); */
   cursor: pointer;
}
