.secondary-title {
   background: linear-gradient(180deg, #63616b 0%, #c2bdd1 148.59%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 2.4rem;
   margin: 0;
   font-family: Roboto;
}
