.interaction-bar {
   display: flex;
   background-color: var(--white-bg);
   border-radius: 1.8rem;
   overflow: hidden;
   align-items: center;
   justify-content: space-between;
   border: 1px solid var(--purple);
   box-shadow: 0px 0px 18px 0px var(--purple-opacity);
   margin-bottom: 1.2rem;
   min-height: 3.9rem;
   /* padding: 0.99rem 0.9rem 0.99rem 1.8rem; */
   line-height: normal;
   min-height: max-content;
   color: var(--purple);
}

.interaction-bar--error {
   border: 1px solid var(--red);
   box-shadow: 0px 0px 18px 0px var(--red-opacity);
   color: var(--red);
}

.interaction-bar--modal {
   background-color: var(--white-bg-opacity);
   margin-left: 1.2rem;
   margin-right: 1.2rem;
}

.interaction-bar__icon {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 999999px;
   cursor: pointer;
   border: none;
   background-color: unset;
   margin-right: 0.69rem;
   padding: 0 0.9rem;
}

.interaction-bar svg {
   height: 1.62rem;
   user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   pointer-events: none;
}

.modal__input {
   margin-left: 3rem;
   margin-right: 3rem;
}

.interaction-bar__icon--approve svg,
.lists__add .interaction-bar__icon svg {
   height: 2.7rem;
   width: 2.7rem;
   padding: 0.6rem;
   stroke-width: 2px;
   stroke: var(--purple);
}

.lists__add .interaction-bar__icon:hover svg,
.interaction-bar__icon--approve:hover svg {
   height: 2.7rem;
   width: 2.7rem;
   padding: 0.6rem;
   stroke: var(--white-bg);
   stroke-width: 3px;
   background-color: var(--purple-opacity);
   border-radius: 999999px;
   aspect-ratio: 1/1;
}

.lists__add .interaction-bar__icon svg {
   padding: 0.3rem;
}

.lists__add .interaction-bar__icon:hover svg {
   stroke-width: 2px;
   padding: 0.3rem;
}
