.input-bar {
   height: 32px;
   color: inherit;
   border: none;
   font-size: 1.5rem;
   font-weight: 300;
   background-color: unset;
   width: 100%;
   resize: none;
   overflow: hidden;
   margin: 0.99rem 0.9rem 0.99rem 1.8rem;
}

.input-bar:focus {
   outline: none;
}

.input-bar::placeholder {
   font-size: inherit;
   font-weight: inherit;
   color: inherit;
   background-color: inherit;
}

@media screen and (max-width: 480px) {
   .input-bar {
      font-size: 1.2rem;
   }

   .input-bar::placeholder {
      font-size: inherit;
   }
}
