.modal__content {
   position: relative;
   height: 27rem;
   max-height: 48%;
   width: 45rem;
   max-width: 54%;
   background-color: var(--white-bg-solid);
   border-radius: 1.5rem;
   padding: 3.6rem 4.8rem;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06);
}

.modal__title {
   background: linear-gradient(90deg, #7784f2 41%, #77abf2 62%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: 700;
}

@media screen and (max-width: 768px) {
   .modal__content {
      max-width: 84%;
      padding: 3.6rem;
      height: 24rem;
   }
}