@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
   --white-bg: rgba(255, 255, 255, 0.66);
   --gray-bg: rgba(222, 222, 222, 0.66);
   --p: #63616b;

   --green: #add7d7;
   --purple: #9177f2;

   --purple-opacity: rgba(145, 119, 242, 0.45);
}

body {
   position: relative;
   display: block;
   /* justify-content: center; */
   background-color: hsla(225, 67%, 84%, 1);
   background-image: linear-gradient(
         to top,
         rgba(255, 255, 255, 0.42),
         rgba(255, 255, 255, 0.42)
      ),
      radial-gradient(at 59% 75%, hsla(241, 80%, 74%, 1) 0px, transparent 50%),
      radial-gradient(
         at 27% 12%,
         hsla(309, 83%, 71%, 0.71) 0px,
         transparent 50%
      ),
      radial-gradient(
         at 40% 43%,
         hsla(225, 67%, 85%, 0.42) 0px,
         transparent 50%
      ),
      radial-gradient(at 12% 10%, hsla(241, 80%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 52% 64%, hsla(251, 83%, 71%, 1) 0px, transparent 50%),
      radial-gradient(at 82% 45%, hsla(252, 83%, 71%, 1) 0px, transparent 50%),
      radial-gradient(at 4% 71%, hsla(220, 83%, 71%, 1) 0px, transparent 50%);
   background-size: cover, cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
   height: 100%;
   color: var(--p);
   font-family: 'Lato', sans-serif;
   overflow: hidden;
}

body::before {
   content: '';
   position: absolute;
   inset: 0;
   width: 100%;
   min-height: 100%;
   background-image: url('./assets/pexels-pixabay-261403.jpg');
   /* background-color: red; */
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   opacity: 0.15;
   z-index: -3;
}

nav ul {
   text-decoration: none;
   list-style: none;
   margin: 0;
   padding: 0;
}

nav ul li {
   font-size: 1.5rem;
}

img {
   -webkit-user-drag: none;
   user-drag: none;
   /* pointer-events: none; */
   user-select: none;
   -webkit-user-select: none;
}
