html {
   --green: #add7d7;
}

body {
   position: relative;
   display: flex;
   /* justify-content: center; */
   background-color: hsla(225, 67%, 84%, 1);
   background-image: linear-gradient(
         to top,
         rgba(255, 255, 255, 0.42),
         rgba(255, 255, 255, 0.42)
      ),
      radial-gradient(at 59% 75%, hsla(241, 80%, 74%, 1) 0px, transparent 50%),
      radial-gradient(
         at 27% 12%,
         hsla(309, 83%, 71%, 0.71) 0px,
         transparent 50%
      ),
      radial-gradient(
         at 40% 43%,
         hsla(225, 67%, 85%, 0.42) 0px,
         transparent 50%
      ),
      radial-gradient(at 12% 10%, hsla(241, 80%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 52% 64%, hsla(251, 83%, 71%, 1) 0px, transparent 50%),
      radial-gradient(at 82% 45%, hsla(252, 83%, 71%, 1) 0px, transparent 50%),
      radial-gradient(at 4% 71%, hsla(220, 83%, 71%, 1) 0px, transparent 50%);
   background-size: cover, cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
   min-height: 100vh;
}

body::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   inset: 0;
   width: 100%;
   height: 100%;
   background-image: url('./assets/pexels-pixabay-261403.jpg');
   /* background-color: red; */
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   opacity: 0.15;
   z-index: -3;
}
