.loading-card {
   font-size: 1.5rem;
   line-height: 1.5;
   user-select: none;
   background-color: var(--white-bg-solid);
   color: var(--gray-bg);
   display: flex;
   align-items: center;
   gap: 1.17rem;
   padding: 0.25rem 2.1rem;
   margin: 0 3rem;
}

.loading-card__shapes-container {
   display: flex;
   gap: 0.6rem;
   margin: 0 0.6rem;
}

@media screen and (max-width: 480px) {
   .loading-card {
      font-size: 1.5rem;
   }
}
