.nav {
   width: 42%;
   max-width: 30rem;
   height: 90vh;
   /* background-color: var(--white-bg); */
   border-radius: 1.5rem;
   padding: 4.2rem;
   padding-bottom: 0.9rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   backdrop-filter: blur(15px);
   position: relative;
   overflow: hidden;
}

.nav__container {
   position: absolute;
   inset: -3rem;
   /* inset: 0; */
   bottom: 0.6rem;
   background: var(--white-bg);
   filter: blur(20px);
   z-index: -1;
}

.nav__main,
.nav__content {
   position: relative;
   z-index: 1;
}

.todos {
   /* max-width: 58%; */
   width: 54%;
   height: 90vh;
   padding: 2.4rem 1.2rem;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   margin: auto 0;
   /* margin: 0 9%; */
}

.todos__titles {
   padding: 1.8rem;
   padding-bottom: 0;
   height: auto;
   max-height: 27%;
   box-sizing: border-box;
   /* display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; */
}

.burger-menu {
   display: none;
}

.todos__subtitle {
   height: 4.5rem;
   display: flex;
   align-items: center;
}

.nav__img {
   width: 100%;
   margin-bottom: -1.5rem;
   pointer-events: none;
}

@media screen and (max-width: 1440px) {
   .nav {
      width: 39%;
   }

   .todos {
      width: 61%;
      padding-top: 1.2rem;
   }
}

@media screen and (max-width: 768px) {
   .nav {
      position: fixed;
      width: 100%;
      transition: left ease-out 300ms;
      inset: 0;
      margin: auto;
   }

   .nav--on {
      left: 0;
   }

   .nav--off {
      left: -200%;
   }

   .todos {
      position: fixed;
      width: 84%;
      padding-top: 1.2rem;
      transition: left ease-out 300ms;
      inset: 0;
      margin: auto;
   }

   .todos--on {
      left: 0;
      /* left: 0; */
   }

   .todos--off {
      left: 100%;
   }

   .todos__titles {
      padding: 0;
      padding-top: 1.8rem;
      max-height: 36%;
   }

   .burger-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 3.6rem;
      min-height: 3.6rem;
      background-color: var(--white-bg-solid);
      border-radius: 3rem;
      padding: 0.9rem;
      border: none;
      cursor: pointer;
   }

   .todos__titles--responsive {
      display: flex;
      align-items: center;
   }

   .centered-title {
      margin-right: 3.6rem;
   }
}

@media screen and (max-width: 480px) {
   .nav {
      margin: 0;
      right: 6rem;
      height: 100vh;
      border-radius: 0;
      width: 87%;
   }

   .todos {
      width: 93%;
      margin: 0 auto;
      height: 100vh;
      padding: 1.2rem;
   }

   .todos__titles {
      padding: 0;
      padding-top: 0.9rem;
   }

   .lists {
      height: 67%;
   }
}
