.nav-container {
   width: 45%;
   height: 90vh;
   background-color: var(--white-bg);
   border-radius: 1.5rem;
   padding: 4.2rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.todos-container {
   width: 55%;
   height: 100vh;
   padding: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* margin: 0 9%; */
}

.todos-container__title {
   margin: 2.4rem;
   /* margin-bottom: 1.8rem; */
}

.nav__img {
   width: 100%;
}

.separator {
   border: none;
   height: 1px;
   margin: 0;
   padding: 0;
   background: linear-gradient(
      90deg,
      transparent 0%,
      #9177f2 50%,
      transparent 100%
   );
   margin: 1.2rem 0;
}
