.nav {
   width: 42%;
   height: 90vh;
   /* background-color: var(--white-bg); */
   border-radius: 1.5rem;
   padding: 4.2rem;
   padding-bottom: 0.9rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   backdrop-filter: blur(15px);
   position: relative;
   overflow: hidden;
}

.nav__container {
   position: absolute;
   inset: -3rem;
   /* inset: 0; */
   bottom: 0.6rem;
   background: var(--white-bg);
   filter: blur(20px);
   z-index: -1;
}

.nav__main,
.nav__content {
   position: relative;
   z-index: 1;
}

.todos {
   width: 58%;
   height: 100vh;
   padding: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* margin: 0 9%; */
}

.todos__title {
   margin: 2.4rem;
}

.nav__img {
   width: 100%;
   margin-bottom: -1.5rem;
   user-select: none;
   -webkit-user-select: none;
   pointer-events: none;
}

.separator {
   border: none;
   height: 1px;
   padding: 0;
   background: linear-gradient(
      90deg,
      transparent 0%,
      #9177f2 50%,
      transparent 100%
   );
   margin: 1.2rem 0;
}

.separator--bottom {
   margin: 0.3rem 3rem 0.3rem;
}
